:root {
	--container-height: 65vh;
	--container-width: calc(var(--container-height) * 20.4 / 20.1);
	--tile-width: calc(var(--container-height) / 20.1);
	--border-width: calc(var(--tile-width) / 10);
	--canvas-height: calc(var(--container-width) * 40.1 / 20.4);

	--opacity: 0.8;
	--blur: 6px;

	--color-board: #000000cc;
	--color-outline: #ffffff;

	--color-text-primary: white;
	--color-text-outline: black;
}

@font-face {
	font-family: "HunDIN";
	src: url("HunDIN.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
	font-family: HunDIN, sans-serif;
	font-size: calc(var(--tile-width) * 0.8);
	font-weight: 600;
}

body {
	background-image: url("background.png");
	background-color: #000000;
	background-size: cover;
	background-position: center;
	color: var(--color-text-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	position: relative;
	height: var(--container-height);
	width: var(--container-width);
}

.app-loading .container {
	visibility: hidden;
}

#gameCanvas {
	background: transparent;
	display: block;
	position: absolute;
	top: calc(-20 * var(--tile-width));
	left: 0;
	width: var(--container-width);
	height: var(--canvas-height);
}
